<%= link_to "create a new account", new_account_path, class: "part" %>
<table class="table table-dark table-striped" >
  <thead>
    <tr>
      <th>cvv</th>
      <th>credit card number</th>
    </tr>  
  </thead>
  <tbody>
    <tr>
      <td><%= @account.cvv %></td>
      <td><%= @account.credit_card_number %></td>
    </tr>
  </tbody>
</table>
<%= button_to "log out", logout_path , method: :delete, class: "btn btn-danger" %>